.popup {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.5);
  height: 90vh;
  width: 100%;
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: flex;
}
.popup-box {
  position: sticky;
  vertical-align: middle;
  height: 40vh;
  width: 50vh;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}
#x {
  grid-column-start: 1;
  grid-column-end: 3;
  color: none;
  background-color: none;
  align-items: center;
  justify-content: center;
  padding: 0.5vh;
}
#x:active {
  background-color: gray;
}
